body {
    font-size: 14px !important;
    background-color: rgb(65, 65, 65) !important;
}

h2 {
    display: inline-block;
    margin-bottom: 0 !important;
}

h3 {
    display: inline-block;
    font-size: 16px !important;
    margin-bottom: 0 !important;
}

ul {
    list-style-type: none;
    padding: 0 !important;
}

.container {
    border-radius: 30px;
    background-color: white;
}

.h2-div {
    margin: 3px 0 12px 0;
}

.h3-div {
    width: 100%;
}

.grey-text {
    color: rgb(76, 76, 76);
}

.icons-pc {
    display: none;
}

#img-banner {
    width: 100%;
    height: 15vh;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

#img-self {
    border-radius: 50%;
    width: 25%;
    max-width: 125px;
    margin-top: -10vh;
}

#section-profile {
    padding: 0;
}

#profile-info {
    padding: 16px;
}

.add-btn{
    float: right;
    padding-top: 3px;
}

.add-icon {
    width: 26px;
    height: 26px;
}

.edit-icon {
    float: right;
    margin-top: 6px;
}

.delete-btn {
    padding:0 !important;
}

.edit-delete-icons {
    float: right;
    margin-right: 6px;
}

.submit-btn {
    width: 100%;
}

@media only screen and (min-width: 576px) {
    body {
        font-size: 16px;
    }

    .h2-div {
        margin: 3px 0 8px 0;
    }

    .edit-icon {
        margin-right: 4px
    }

    .icons-pc {
        display: block;
    }

    .icons-mobile {
        display: none;
    }

    #img-banner  {
        height: 30vh;
    }

    #img-self {
        margin-top: -12vh;
        margin-bottom: 1vh;
    }
}