<div class="container border p-3 my-3">
    <div class="h2-div">
        <h2>Experiencia</h2>
        <!-- Button trigger modal -->
        <button type="button" class="btn add-btn" data-toggle="modal" data-target="#newExpModal" *ngIf="isLogged">
            <i class="bi bi-plus add-icon"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="newExpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Agregar Experiencia</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form id="newExpForm" #f="ngForm" (ngSubmit)="onCreate()" novalidate>
                            <div class="mb-3">
                                <label for="nombreExp" class="form-label">Nombre</label>
                                <input type="text" id="nombreExp" name="nombreExp" class="form-control" [(ngModel)]="nombreExp" required>
                            </div>
                            <div class="mb-3">
                                <label for="descripcionExp" class="form-label">Descripcion</label>
                                <input type="text" id="descripcionExp" name="descripcionExp" class="form-control" [(ngModel)]="descripcionExp" required >
                            </div>
                            <div class="form-group">
                                <label for="inicioExp">Año de Inicio</label>
                                <select class="form-control" id="inicioExp" name="inicioExp" [(ngModel)]="inicioExp" required>
                                    <option *ngFor="let year of yearList" [value]="year">{{year}}</option>
                                </select>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="newActual" (change)="onNewActualChange($event)">
                                <label class="form-check-label" for="newActual">Actualmente estoy trabajando en este puesto</label>
                            </div>
                            <div class="form-group">
                                <label for="finExp">Año de Fin</label>
                                <select class="form-control" id="finExp" name="finExp" [(ngModel)]="finExp" [disabled]="isNewActual">
                                    <option value=""></option>
                                    <ng-container *ngIf="!isNewActual">    
                                        <option *ngFor="let year of yearList" [value]="year">{{year}}</option>
                                    </ng-container>
                                    <ng-container *ngIf="isNewActual">
                                        <option value="" selected></option>
                                    </ng-container>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary my-2 py-2 submit-btn">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul>
        <li *ngFor="let Experiencia of exp">
            <!--<img>-->
            <div class="h3-div">
                <div class="edit-delete-icons icons-pc">
                    <button type="button" class="btn delete-btn" *ngIf="isLogged" (click)="delete(Experiencia.id)">
                        <i class="bi bi-trash3-fill delete-icon"></i>
                    </button>
                    <button type="button" class="btn edit-btn" *ngIf="isLogged" (click)="onEdit($event)">
                        <i class="bi bi-pencil-fill edit-icon"></i>
                    </button>
                </div>
                <div class="content">
                    <h3 class="nombreExp">{{Experiencia.nombreExp}}</h3>
                    <br>
                    <span class="descripcionExp">{{Experiencia.descripcionExp}} </span>
                    <span class="grey-text">{{Experiencia.inicioExp}} -
                        <span *ngIf="Experiencia.finExp != 0">{{Experiencia.finExp}}</span>
                        <span *ngIf="Experiencia.finExp == 0">Actualidad</span>
                    </span>
                </div>
                <div class="edit-content" style="display:none" >
                    <form #f="ngForm" (ngSubmit)="onUpdate(Experiencia.id)" novalidate>
                        <div class="form-group">
                            <label for="nombreExp">Nombre</label>
                            <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="Experiencia.nombreExp" required>
                        </div>
                        <div class="form-group">
                            <label for="descripcionExp">Descripcion</label>
                            <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="Experiencia.descripcionExp" required>                        
                        </div>
                        <div class="form-group">
                            <label for="inicioExp">Año de Inicio</label>
                            <select class="form-control" id="inicioExp" name="inicioExp" [(ngModel)]="Experiencia.inicioExp" required>
                                <option *ngFor="let year of yearList" [value]="year">{{year}}</option>
                            </select>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="actual" (change)="onActualChange($event)">
                            <label class="form-check-label" for="actual">Actualmente estoy trabajando en este puesto</label>
                        </div>
                        <div class="form-group">
                            <label for="finExp">Año de Fin</label>
                            <select class="form-control" id="finExp" name="finExp" [(ngModel)]="Experiencia.finExp" [disabled]="isActual">
                                <option value=""></option>
                                <ng-container *ngIf="!isActual">    
                                    <option *ngFor="let year of yearList" [value]="year">{{year}}</option>
                                </ng-container>
                                <ng-container *ngIf="isActual">
                                    <option value="" selected></option>
                                </ng-container>
                            </select>
                        </div>
                        <!-- 
                        <div class="form-group">
                            <label for="inicioExp">Año de Inicio</label>
                            <input type="number" min="1900" max="2099" step="1" class="form-control" id="inicioExp" name="inicioExp" [(ngModel)]="Experiencia.inicioExp" required>
                        </div>
                        <div class="form-group">
                            <label for="finExp">Año de Fin</label>
                            <input type="number" min="1900" max="2099" step="1" class="form-control" id="finExp" name="finExp" [(ngModel)]="Experiencia.finExp">
                        </div>
                        -->
                        <button class="btn btn-success">Editar</button>
                    </form>
                    <button class="btn btn-secondary" (click)="onCloseEdit($event)">Cerrar</button>               
                </div>
                <div class="edit-delete-icons icons-mobile">
                    <button type="button" class="btn delete-btn" *ngIf="isLogged" (click)="delete(Experiencia.id)">
                        <i class="bi bi-trash3-fill delete-icon"></i>
                    </button>
                    <button type="button" class="btn" *ngIf="isLogged" (click)="onEdit($event)">
                        <i class="bi bi-pencil-fill edit-icon"></i>
                    </button>
                </div>
            </div>
            <br>
        </li>
    </ul>
</div>