<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
      <span class="navbar-brand">Gonzalo Diaz</span>
      <ul class="navbar-nav">
          <li>
              <a class="nav-link" href="linkedin.com/in/gonzaloagustindiaz">link</a>
          </li>
          <li>
              <a class="nav-link" href="#">ig</a>
          </li>
          <li>
              <a class="nav-link" href="#">tw</a>
          </li>
          <li>
              <a class="nav-link" href="#">login</a>
          </li>
      </ul>
  </div>
</nav>

<app-header></app-header>

<app-about></app-about>

<app-school></app-school>

<app-skills></app-skills>

<app-projects></app-projects>

<a href="https://www.freepik.com/free-photo/3d-render-low-poly-plexus-design-network-communications_17560612.htm#query=tech&position=6&from_view=search&track=sph">Image by kjpargeter</a> on Freepik
