<div class="container border p-3 my-3">
    <div class="h2-div">
        <h2>Educacion</h2>
        <button type="button" routerLink="/nuevaEdu" *ngIf="isLogged" class="btn add-btn">
            <i class="bi bi-plus add-icon"></i>
        </button>
    </div>
    <ul>
        <li *ngFor="let Educacion of edu" style="display:flex" class="educacion-item">
            <!--<img [src]="education.img" alt="" class="educacion-img">-->
            <div class="h3-div">
                <div class="edit-delete-icons icons-pc">
                    <button class="btn delete-btn" (click)="delete(Educacion.id)" *ngIf="isLogged">
                        <i class="bi bi-trash3-fill delete-icon"></i>
                    </button>
                    <button class="btn edit-btn" routerLink="/editEdu/{{Educacion.id}}" *ngIf="isLogged">
                        <i class="bi bi-pencil-fill edit-icon"></i>
                    </button>
                </div>
                <h3>{{Educacion.nombreEdu}}</h3>
                <br>
                <span>{{Educacion.descripcionEdu}}</span><br>
                <!--<span>{{education.start}}-{{education.end}}</span>-->
                <div class="edit-delete-icons icons-mobile">
                    <button class="btn btn-danger" (click)="delete(Educacion.id)" *ngIf="isLogged"-->Borrar
                        <i class="bi bi-trash3-fill delete-icon"></i>
                    </button>
                    <button class="btn btn-primary" routerLink="/editEdu/{{Educacion.id}}" *ngIf="isLogged"-->Borrar
                        <i class="bi bi-pencil-fill edit-icon"></i>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>