.educacion-item:first-child {
    margin-top: 0;
}

.educacion-item {
    margin-top: 20px;
}

.educacion-img {
    width: 60px;
    margin-right: 10px;
    object-fit: contain;
}

@media only screen and (min-width: 576px) {
    .educacion-img {
        margin-right: 15px;
    }
}