<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="../../../assets/imgs/APLogo.png" height="80" style="margin: -35px 0 -30px 0">
        </div>
        <ul class="navbar-nav">
            <li> <!-- *ngFor="let social of socialList"> -->
                <a class="nav-link"><!--[href]="social.href">-->
                    <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white"
                        viewBox="0 0 16 16">
                        <path><!--[attr.d]="social.path">--></path>
                    </svg>
                    <span class="nav-link-text"><!--{{social.name}}--> </span>
                </a>
            </li>
            <li>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-success btn-sm login" data-toggle="modal" data-target="#loginModal" *ngIf="!isLogged">Login</button>
                <button type="button" class="btn btn-outline-success btn-sm login" (click)="onLogout()" *ngIf="isLogged">Logout</button>

                <!-- Modal -->
                <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Login</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form id="loginForm" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                                    <div class="mb-3">
                                        <label for="nombreUsuario" class="form-label">Usuario</label>
                                        <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control" [(ngModel)]="nombreUsuario" required aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Contraseña</label>
                                        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary my-2 py-2 submit-btn">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>