<div class="container border p-3 my-3">
    <div class="h2-div">
        <h2>Proyectos</h2>
        <i class="bi bi-plus add-icon"></i>
    </div>
    <ul>
        <li *ngFor="let project of projectsList">
            <h3><a [href]="project.href">{{project.name}}</a></h3>
            <div class="edit-delete-icons">
                <i class="bi bi-pencil-fill edit-icon"></i>
                <i class="bi bi-trash3-fill delete-icon"></i>
            </div>
            <p>{{project.description}}</p>  
        </li>
    </ul>
 