<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">{{profileData.name}}</span>
        <ul class="navbar-nav">
            <li *ngFor="let social of socialList">
                <a class="nav-link" [href]="social.href">
                    <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" viewBox="0 0 16 16">
                        <path [attr.d]="social.path"></path>
                    </svg>
                    <span class="nav-link-text">{{social.name}}</span>
                </a>
            </li>

            <li>
                <button type="button" class="btn btn-outline-success btn-sm login">Login</button>
            </li>
        </ul>
    </div>
  </nav>