<div class="container border my-3" id="section-profile">
    <!--<img [src]="profileData.banner" alt="" id="img-banner">-->
    <!--SAMPLE--><img src="./././assets/imgs/banner.jpg" id="img-banner">
    <div id="profile-info">
        <!--<img [src]="profileData.selfie" alt="" id="img-self">-->
        <!--SAMPLE--><img src="./././assets/imgs/gonzalo.jpg" id="img-self">
        <div class="h2-div">
            <!--<h2>{{persona.nombre}} {{persona.apellido}}</h2>-->
            <!--SAMPLE--><h2>Gonzalo Diaz</h2>
            <i class="bi bi-pencil-fill edit-icon"></i>
        </div>
        <!--<span class="grey-text">{{profileData.position}}</span>-->
        <!--SAMPLE--><span class="grey-text">Estudiante - Ingeniería en Sistemas - UTN</span>
        <br>
        <!--<span>{{profileData.location}}</span>-->
        <!--SAMPLE--><span>Buenos Aires (Argentina)</span>
    </div>
</div>
